@font-face {
    src: url("/fonts/satoshi/Satoshi-Variable.ttf");
    font-family: Satoshi;
    font-weight: 300 900;
}

:root {
    --background: #fafbfc;
    --background_2: #fff;
    --text: #111;
    --text_2: #252525;
    --gray: #6a6a6a;
    --gray_2: #bbb;
    --primary: #006fff;
    --primary_2: #197dff;
    --secondary: #1c1c1c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    scroll-behavior: smooth;
}

body.dark {
    --background: #0a0a0a;
    --background_2: #181818;
    --text: #f3f3f3;
    --text_2: #cdcdcd;
    --gray: #999;
    --gray_2: #555;
    --primary: #006fff;
    --primary_2: #197dff;
    --secondary: #fff;
}

@keyframes hi {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hi {
    animation: hi 1.5s linear -0.5s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
    position: relative;
}

.gradient {
    background: var(--primary);
    background: -webkit-linear-gradient(to bottom, var(--primary), #0058cc);
    background: linear-gradient(to bottom, var(--primary), #0058cc);
}

@media (prefers-reduced-motion) {
    .hi {
        animation: none;
    }

    :root {
        scroll-behavior: auto;
    }
}

.carousel-viewport {
    scrollbar-width: none;
}

.carousel-viewport::-webkit-scrollbar {
    display: none;
}
