<li class="flex items-center gap-2 overflow-hidden">
    <svg
        class="h-auto w-[53px] min-w-[53px] text-primary"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><rect x="2" y="4" width="20" height="16" rx="2"></rect><path
            d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
    >
    <div class="flex flex-col justify-center">
        <small
            class="text-light-gray-primary dark:text-dark-gray-primary font-medium"
            >Send me an email:</small
        >
        <a
            class="font-bold text-light-texto-primary dark:text-dark-texto-primary text-[1.1rem] hover:cursor-pointer hover:underline"
            href="mailto:dna.chavez@outlook.com">dna.chavez@outlook.com</a
        >
    </div>
</li>
