---
import MainLayout from "../layouts/mainLayout.astro";
import Topbar from "../components/Topbar.astro";
import HomeSection from "../sections/homeSection.astro";
import Main from "../components/main.astro";
import SkillsSection from "../sections/SkillsSection.astro";
import JobsSection from "../sections/jobsSection.astro";
import ProjectsSection from "../sections/ProjectsSection.astro";
import EducationSection from "../sections/EducationSection.astro";
import CertificatesSection from "../sections/CertificatesSection.astro";
import ContactSection from "../sections/ContactSection.astro";
import Footer from "../components/footer.astro";
---

<MainLayout title="Dan Chavez - Full Stack Engineer | AI Engineer">
    <Topbar />
    <Main>
        <HomeSection />
        <SkillsSection />
        <JobsSection />
        <ProjectsSection />
        <EducationSection />
        <CertificatesSection />
        <ContactSection />
        <Footer />
    </Main>
</MainLayout>
