---
const { name, icon } = Astro.props;
---

<li class="flex items-center gap-1 text-[0.91rem]">
    <img
        class="h-4 w-auto"
        src={`/icons/${icon}.svg`}
        alt={name}
        loading="lazy"
    />
    {name}
</li>
