<button
    class="p-2 rounded-md text-light-gray-primary dark:text-dark-gray-primary hover:bg-[#0001] dark:hover:bg-[#fff1] hover:text-light-texto-primary dark:hover:text-dark-texto-primary transition-colors"
    id="theme-toggle"
    aria-label="Toggle theme"
>
    <svg
        class="hidden dark:flex"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.8"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="M12 3a6.364 6.364 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
    </svg>
    <svg
        class="flex dark:hidden"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1.8"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><circle cx="12" cy="12" r="4"></circle><path d="M12 2v2"></path><path
            d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"></path><path
            d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"></path><path
            d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"></path><path
            d="m19.07 4.93-1.41 1.41"></path>
    </svg>
</button>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggleButton = document.getElementById("theme-toggle");
        toggleButton.addEventListener("click", (event) => {
            document.body.classList.toggle("dark");
            document.documentElement.classList.toggle("dark");
        });
    });
</script>
