<section
    class="flex flex-col-reverse sm:flex-row pt-24 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-14">
        <h1
            class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
        >
            About me<span class="text-primary">.</span>
        </h1>
        <div
            class="flex flex-col gap-4 text-[1.1rem] sm:text-base text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p>
                With over two years of experience in the tech industry,
                I am an experienced full-stack developer with a focus on back-end development.
                My journey has been marked by collaborations on diverse software projects,
                allowing me to hone my keen eye for optimization and productivity.
                I pride myself on my ability to navigate and thrive in dynamic environments,
                consistently pushing the boundaries of what I can learn and achieve.
            </p>
            <p>
                Looking forward, I am eager to continue contributing to impactful projects and teams.
                As a co-founder of Develop Kreativity, I am passionately dedicated to turning innovative ideas into reality.
                My goal is to leverage my skills in full-stack development,
                particularly in the back-end, to drive innovation and efficiency.
                As I grow in my career, I remain committed to excellence, continuous learning,
                and the collaborative spirit that has characterized my journey so far.
            </p>
        </div>
    </article>
    <img
        class="rounded-full h-[170px] w-[170px] sm:w-[200px] sm:h-[200px]"
        src="/photo.webp"
        alt="Dan Chavez - Full-stack Developer"
        loading="lazy"
    />
</section>
