---
import CertificateCard from "../components/CertificateCard.astro";
import certificates from "../data/certificates.json";
---

<section class="flex flex-col pt-16 pb-20 gap-16" id="certificates">
    <h1
        class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
    >
        Certificates<span class="text-primary">.</span>
    </h1>
    <div class="relative flex flex-col gap-20">
        {certificates.map((certificate, index) => (<CertificateCard {...certificate} id={`certificate-${index}`} style={`display: ${index < 3 ? '' : 'none'}`} />))}
        <div
            class="absolute left-0 border-l-[1px] h-full z-[-1] border-dashed border-light-gray-secondary dark:border-dark-gray-secondary sm:left-[50%]"
        >
        </div>
    </div>
    <div class="flex justify-center">
        {certificates.length > 3 && (
            <button
                class="accordion-button group mt-6 w-fit justify-center py-3 px-5 pr-6 flex items-center gap-1 sm:gap-2 font-semibold text-base text-light-texto-secondary dark:text-dark-texto-secondary bg-[#0001] dark:bg-[#fff1] transition-colors rounded-3xl hover:bg-light-texto-primary dark:hover:bg-dark-texto-primary hover:text-light-fondo-primary dark:hover:text-dark-fondo-primary"
                id="toggleCertificates"
            >
                <svg
                    class="group-[.expanded]:rotate-180 transition-transform"
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><polyline points="6 9 12 15 18 9"></polyline></svg
                >
                <span class="flex">See more</span>
            </button>
        )}
    </div>
</section>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const certificates = document.querySelectorAll('.certificate-card');
        certificates.forEach((card, index) => {
            if (index >= 3) {
                card.style.display = 'none';
            }
        });
    });
    
    const button = document.getElementById('toggleCertificates');
    let showAllCertificates = false;

    button.addEventListener('click', () => {
        const certificates = document.querySelectorAll('.certificate-card');
        showAllCertificates = !showAllCertificates;

        certificates.forEach((card, index) => {
            if (index >= 3) {
                card.style.display = showAllCertificates ? '' : 'none';
            }
        });

        button.innerHTML = showAllCertificates ? '<svg class="rotate-180 transition-transform" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg> See less' : '<svg class="transition-transform" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg> See more';
    });
</script>
