---
import ProjectCard from "../components/ProjectCard.astro";
import ProjectModal from "../components/ProjectModal.astro";
import projects from "../data/projects.json";
---

<style></style>
<section
    class="projects-section flex pt-16 pb-20 flex-col gap-12"
    id="projects"
>
    <h1
        class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
    >
        Projects<span class="text-primary">.</span>
    </h1>
    <div
        class="grid grid-cols-1 gap-x-7 gap-y-12 sm:grid-cols-2 md:gap-x-12 md:gap-y-12 sm:gap-x-6 sm:gap-y-12"
    >
        {projects.map((project) => <ProjectCard {...project} />)}
    </div>
    <div class="flex justify-center">
        {projects.length > 4 && (
            <button
                class="accordion-button group mt-6 w-fit justify-center py-3 px-5 pr-6 flex items-center gap-1 sm:gap-2 font-semibold text-base text-light-texto-secondary dark:text-dark-texto-secondary bg-[#0001] dark:bg-[#fff1] transition-colors rounded-3xl hover:bg-light-texto-primary dark:hover:bg-dark-texto-primary hover:text-light-fondo-primary dark:hover:text-dark-fondo-primary"
                id="toggle-projects"
            >
                <svg
                    class="group-[.expanded]:rotate-180 transition-transform"
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><polyline points="6 9 12 15 18 9"></polyline></svg
                >
                <span class="flex">See more</span>
            </button>
        )}
    </div>
</section>
{projects.map((project) => <ProjectModal {...project} />)}
<script>
    const $openModalButtons = document.querySelectorAll(".open-modal-btn");
    const $closeModalButtons = document.querySelectorAll(".close-modal-btn");
    $openModalButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const modalId = event.currentTarget.getAttribute("data-target");
            const $modal = document.getElementById(modalId);
            $modal.setAttribute("data-visible", "true");
            document.body.style.overflow = "hidden";
        });
    });

    $closeModalButtons.forEach((btn) => {
        btn.addEventListener("click", (event) => {
            const modalId = event.currentTarget.getAttribute("data-target");
            const $modal = document.getElementById(modalId);
            $modal.setAttribute("data-visible", "false");
            document.body.style.overflow = "auto";
        });
    });
</script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const projects = document.querySelectorAll('.project-card');
        projects.forEach((card, index) => {
            if (index >= 4) {
                card.style.display = 'none';
            }
        });
    });

    const button = document.getElementById('toggle-projects');
    let showAllProjects = false;

    if (button) {
        button.addEventListener('click', () => {
            const projects = document.querySelectorAll('.project-card');
            showAllProjects = !showAllProjects;

            projects.forEach((card, index) => {
                if (index >= 4) {
                    card.style.display = showAllProjects ? '' : 'none';
                }
            });

            button.innerHTML = showAllProjects ? '<svg class="rotate-180 transition-transform" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg> See less' : '<svg class="transition-transform" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg> See more';
        });
    }
</script>
